.max-width{
    margin: auto;
    max-width: 85%;
}

.width-50{
    width: 50%;
}



.under{
  position: absolute;
    left: 0px;
    top: 0px;
}

.img-center{
  height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.no-margin{
  margin:0;
}

.flex{
    display: flex;
}

.absolute-center{
    justify-content: center;
    align-items: center;
}

.flex-start{
  justify-content: flex-start;
  align-items: flex-start;
}

.space-between{
  justify-content: space-between;
  align-items: center;
}



.gradient-start{
  background: linear-gradient(0deg,#000 10%,transparent);
    content: "";
    
    height: calc(var(--vhHeader)*40);
    left: 0;
    position: absolute;
    right: 0;
    top: calc(var(--vhHeader)*10 + 49.86667vw);
    z-index: 10;
}

.flex-col{
    flex-direction: column;
}

flex-row{
  flex-direction: row;
}

@media all and (max-width: 1279px) {
    .max-width {
      max-width: 90%;
    }
    .photo-section-heading {
      max-width: 670px;
    }
  
    .photo-section-child {
      padding: 100px 0px;
    }
    .footer {
      font-size: 32px;
    }
  }

  @media all and (max-width: 780px) {
    .non-tablet-only {
      display: none !important;
    }
  }
  
  @media all and (max-width: 800px) {
    .max-width {
      max-width: 90%;
    }
  
    .non-mobile {
      display: none !important;
    }
  
    .photo-section-heading {
      font-size: 65px;
      line-height: 58px;
    }
    .photo-section-subheading {
      font-size: 18px;
      line-height: 24px;
      margin-top: 26px;
    }
    .photo-section-description {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      margin-top: 500px;
    }
  
    .photo-section-child {
      padding: 195px 0px 90px;
    }
  
    .footer {
      font-size: 20px;
    }
  }
  
  @media all and (min-width: 800px) {
    .only-mobile {
      display: none !important;
    }
  }

  @media all and (min-width: 1024px) {
    .only-tablet {
      display: none !important;
    }
  }
  
  @media all and (max-width: 1025px) {
    .after-tablet {
      display: none !important;
    }
  }

  @media all and (max-width: 1200px) {
    .only-laptop {
      display: none !important;
    }
  }




  @media all and (min-width: 1200px) {
    .after-laptop {
      display: none !important;
    }
  }