.testimonialwrapper {
  font-size: 12px;
  text-align: center;
  height: 70vh;
  width: 100%;
  padding-top: 0.5em;

  bottom: 1px;
  background-color: #fff;
}
.container {
  max-width: 65vw;

  display: flex;
  margin-top: 10em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.container__img {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 10vw;
}
.container__img .testimonial__img {
  -webkit-box-shadow: 0px 7px 9px -1px rgba(32, 32, 70, 0.19);
  -moz-box-shadow: 0px 7px 9px -1px rgba(32, 32, 70, 0.19);
  box-shadow: 0px 7px 9px -1px rgba(32, 32, 70, 0.19);
  border-radius: 5px;
  width: 100%;
}
.container__text {
  width: 50%;
  margin-left: 7vw;
  background-repeat: no-repeat;
  background-position: top left 20%;
  padding-top: 5em;
  margin-top: 5em;
  z-index: 2;
}
blockquote {
  padding: 0;
  margin: 0;
  font-size: 2rem;
  font-weight: 300;
  color: #202046;
  width: 32ch;
}
cite {
  display: flex;
  margin-top: 2rem;
  font-size: 1rem;
  font-style: normal;
}
cite span {
  font-weight: 500;
  color: #babacf;
}
cite span:first-child {
  font-weight: 700;
  color: #202046;
  margin-right: 0.5em;
}
.buttonSet {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  
  bottom: -3%;
  -webkit-box-shadow: 0px 7px 9px -1px rgba(32, 32, 70, 0.19);
  -moz-box-shadow: 0px 7px 9px -1px rgba(32, 32, 70, 0.19);
  box-shadow: 0px 7px 9px -1px rgba(32, 32, 70, 0.19);
  border-radius: 30px;
}
.buttonSet button {
  border: none;
  padding: 0.1rem 0.8rem;
  padding-left: 1rem;
  cursor: pointer;
  border: 1px dotted transparent;
}
.buttonSet button:focus {
  outline: none;
  border-color: #202046;
}
.buttonSet .next {
  padding-left: 1rem;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}
.buttonSet .prev {
  padding-right: 1rem;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}
@media only screen and (max-width: 1640px) {
  .container {
    max-width: 75vw;
 }
}
@media only screen and (max-width: 1440px) {
  .container {
    max-width: 90vw;
 }
}
@media only screen and (max-width: 1275px) {
  .container {
    max-width: 95vw;
    padding-left: 1em;
 }
}
@media only screen and (max-width: 1115px) {
  blockquote {
    font-size: 1.7rem;
 }
}
@media only screen and (max-width: 990px) {
  blockquote {
    font-size: 1.6rem;
 }
  .container__text {
    width: 60%;
 }
  .container__img {
    width: 40%;
 }
}
@media only screen and (max-width: 870px) {

  .container__img{
    margin-left: 0vw;
  }
  
  .container {
    flex-direction: column-reverse;
    background-size: 63%;
    background-position: top;
    justify-content: center;
    align-items: center;
    padding: 1em;

 }

 .testimonialwrapper {
  font-size: 12px;
  text-align: center;
  height: 120vh;
  width: 100%;
  padding-top: 0.5em;

  bottom: 1px;
  background-color: #fff;
}

 .container__text {
  padding-top: 3em;
  text-align: center;
  margin-left: 0vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
 }
  .container cite {
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
  .container cite span:nth-child(2) {
    margin-top: 0.2em;
 }
  .container blockquote {
    font-size: 1.4rem;
    max-width: 32ch;
 }
  .buttonSet {
   left: 50%;
    bottom: -7%;
    transform: translate(-50%, 0);
    backface-visibility: hidden;
 }
}


@media only screen and (max-width: 570px) {
  .buttonSet button {
    border: none;
    padding: 0.1rem 0.3rem;}

    .buttonSet .next {
      padding-left: 0.8rem;
      border-bottom-right-radius: 30px;
      border-top-right-radius: 30px;
  }
}


@media only screen and (max-width: 500px) {
  .container {
    background-size: 80%;
 }
  .container__img {
    width: 73%;
    margin-left: 0vw;
 }
 .container blockquote {
  font-size: 1rem;
 }
 .container__text {
  
  margin-left: 0; 
 }
}

.buttonSet .prev {
  padding-right: 0rem;
}

.buttonSet button {
  border: none;
  padding: 0.1rem 0.8rem
;
  padding-left: -1rem;
}

.testimonial__img {
  animation: 2s forwards fadeIn;
  -webkit-animation: 2s forwards fadeIn;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
 }
  100% {
    opacity: 1;
 }
}
blockquote {
  animation: 2s forwards LeftIn30;
  -webkit-animation: 2s forwards LeftIn30;
}
cite {
  animation: 2s forwards RightIn60;
  -webkit-animation: 2s forwards RightIn60;
}
@keyframes LeftIn30 {
  0% {
    transform: translate(-30px, 0);
    -webkit-transform: translate(-30px, 0);
    -moz-transform: translate(-30px, 0);
    -ms-transform: translate(-30px, 0);
    -o-transform: translate(-30px, 0);
 }
  100% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
 }
}
@keyframes RightIn60 {
  0% {
    transform: translate(60px, 0);
    -webkit-transform: translate(60px, 0);
    -moz-transform: translate(60px, 0);
    -ms-transform: translate(60px, 0);
    -o-transform: translate(60px, 0);
 }
  100% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
 }
}