body {
    background-color: var(--tg-bg-white);
}

.Scrub-wrapper {
    background-color: var(--tg-bg-white);
    width: 100vw;
    overflow:hidden;
}

.Scrub-heading-wrapper {
    text-align: center;
}


.Scrub-img{
    width: 100vw;
    height: auto;
    margin-top: 4vh;
    background-repeat: no-repeat;
  background-size: contain;
    overflow:hidden;
}

.Scrub-headline {
    font-size: 16px;
    margin: 0px 0px 30px;
    font-weight: bold;
    /* color: var(--tg-black); */
    color: #5989A9;
    text-transform: uppercase;
}

.Scrub-para {
    font-size: 48px;
    font-weight: bold;
    /* color: var(--tg-black); */
    color: #5989A9;
    text-transform: uppercase;
}

.Scrub-section-text {
    height: 45vh;
    background-color: var(--tg-bg-white);
    justify-content: end;
    margin-bottom: 100px;
}

.Scrub-section {
    height: 100vh;
    background-color: var(--tg-white);
}

.Scrub-section-inner {
    background-color: var(--tg-bg-white);
    align-items: center;
    object-fit: fill;
    height: 100%;
    overflow: hidden;
    justify-content: end !important;
}

@media all and (max-width: 1024px) {
      
    .Scrub-para {
        font-size: 40px;
    }

    .Scrub-section-text {
        
        
        margin-bottom: 25px;
    }
    
}


  
  /* from tablet */
  @media all and (max-width: 780px) {
    .Scrub-para {
        font-size: 40px;
    }

    .Scrub-section-text {
        
        
        margin-bottom: 25px;
    }

    .Scrub-section-inner{
        height: 60%;
    }

    .Scrubimg{
        width: 130vw;
        height: auto;
        margin-left: -160px;
        background-repeat: no-repeat;
        background-size: contain;
        overflow: hidden;
    }
  }

  /* from mobile */
  @media all and (max-width: 600px) {
    .Scrub-para {
        font-size: 30px;
    }

    .Scrub-headline {
        font-size: 12px;
    }

    .Scrub-section-text {
        
        
        margin-bottom: 0px;
    }
    .Scrubimg{
        width: auto;
        height: 80vh;
        margin-left: -33vw;
    margin-top: 19vh;
    }
  }

  @media all and (max-width: 540px) {
    .Scrub-para {
        font-size: 30px;
    }

    .Scrub-headline {
        font-size: 12px;
    }

    .Scrub-section-text {
        
        
        margin-bottom: 0px;
    }
    .Scrubimg{
        width: auto;
        height: 80vh;
        margin-left: -16rem;
    margin-top: 19vh;
    }
    
  }


  


 
  @media all and (max-width: 426px) {
    .Scrub-para {
        font-size: 30px;
    }

    .Scrub-headline {
        font-size: 12px;
    }

    .Scrub-section-text {
        
        
        margin-bottom: 0px;
    }
    .Scrubimg{
        width: auto;
        height: 80vh;
        margin-left: -18rem;
    margin-top: 19vh;
    }
    
  }

  @media all and (max-width: 376px) {
    .Scrub-para {
        font-size: 30px;
    }

    .Scrub-headline {
        font-size: 12px;
    }

    .Scrub-section-text {
        
        
        margin-bottom: 0px;
    }
    .Scrubimg{
        width: auto;
        height: 80vh;
        margin-left: -20rem;
    margin-top: 19vh;
    }
    
  }


  @media all and (max-width: 390px) {
    .Scrub-para {
        font-size: 30px;
    }

    .Scrub-headline {
        font-size: 12px;
    }

    .Scrub-section-text {
        
        
        margin-bottom: 0px;
    }
    .Scrubimg{
        width: auto;
        height: 80vh;
        margin-left: -19.5rem;
    margin-top: 19vh;
    }
    
  }

  @media all and (max-width: 325px) {
    .Scrub-para {
        font-size: 30px;
    }

    .Scrub-headline {
        font-size: 12px;
    }

    .Scrub-section-text {
        
        
        margin-bottom: 0px;
    }
    .Scrubimg{
        width: auto;
        height: 80vh;
        margin-left: -108vw;
    margin-top: 19vh;
    }
    
  }
