.header {
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 20px;
  height: var(--tg-header-height);
  position: sticky;
}

.right-nav-items {
  gap: 25px;  
  font-size: 25px;
  text-transform: uppercase;
}

.right-nav-item a {
  text-decoration: none;
  color: var(--tg-white);
}

.left-nav-items {
  gap: 25px;
  font-size: 12px; 
}

.header-logo {
  height: 55px;
  margin-right: 20px;
}

.seperator {
  border-right: 0.1px solid var(--tg-bg-grey);
  padding-right: 20px;
}

.nav-link{
  text-decoration: none;
  color: var(--tg-white);
  white-space: nowrap;
  letter-spacing: 0.15rem;
}

.mobile-menu-wrapper{
  position: -webkit-sticky;
  position: sticky;
    width:100%;
    background-color: var(--navbar);
    border-color: var(--bg-white);
}
